.admin-nav {
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.admin-left h1 {
  padding: 20px;
}

.admin-right {
  display: flex;
  gap: 30px;
  padding: 20px;
}

.admin-right a {
  text-decoration: none;
  color: white;
}

.dashboard-logo {
  margin-top: 10px;
}

.admin-right a:hover {
  color: rgb(180, 179, 179);
}

.logout-icon {
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.admin-btn-outline {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  background-color: white;
  color: #333;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 8px 12px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.admin-btn-outline:hover {
  background-color: #b3b3b3;
  border-color: #aaa;
}
